<!DOCTYPE html>
<html lang="en">
    <head>
        <title>SQLAlchemy users test</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    </head>
    <body>
        <div>
            <h2>Create A User</h2>
            <form method="post" action="/users/create">
                Name: <input type="text" id="uName" name="username"><br><br>
                Email: <input type="email" id="uEmail" name="email"><br><br>
                Find Your House: <input type="radio" id="uRadio1" name="choices"><br><br>
                                 <input type="radio" name="choices" id="uRadio2"><br><br>
                <button type="submit">Submit</button>
            </form>
            <p>See all messages at <a href='/messages'> </a> /messages</p>
        </div>
    </body>
</html>